@font-face {
    font-family: Poppins;
    src: url(../../../assets/fonts/Poppins-Regular.ttf);
  }

  * {
    color: white
  }

.buy-container {
  background-image: url("../../../assets/images/brick-wall.png");
  width: 100%;
  height: 80vw;
  border-top:1px solid #329DFF;
  display:flex;
  justify-content: center;
  

}


.blue-div {
    width: 100%;
    height: 80vw;
    background-color: #073662;
    mix-blend-mode: multiply;
    display: flex;
    justify-content: center;
}


.buy-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(4vw); 
    height: 10vw; 
    width: 100%;
}

.buy-button {
    background-color:black;
    width:55%;
    height:3vw;
    font-family: Poppins;
    font-weight: 600;
    
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    transform: translateY(3vw);
    width:13%;
    cursor: pointer;
    
}


.buy-searcher {
    border:none;
    background-color:#073662;
    width:95%;
}

.buy-searcher:focus {
    outline-width: 0;
}

.searcher-container {
    background-color:#073662;
    padding: 8px 3px 5px 5px;
    border-bottom:1px solid white; 
    opacity:1;
    transform: translateY(10vw);
    position:absolute;
    z-index: 2000;
    display: flex;  
    width: 15.4%;
}

.buy-searcher:focus  .searcher-container {  border-bottom:1px solid #329DFF;}


.buy-options {
    font-family: Poppins;
    transform: translateY(11.5vw);
    display: flex;
    justify-content: start;
    margin-bottom: 2.2vw;
    width: 75%;
}

.buy-options:focus {
    outline-width: 0;
}

.select-option {
    background-color: #073662;
    border:none;
    width:12vw;  
    color:white;
    font-family: Poppins;
}