@font-face {
    font-family: Poppins;
    src: url(../../../../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Pixeled;
    src: url(../../../../assets/fonts/Pixeled.ttf);
  }


* {
    color: white;
    font-family: Poppins;
}




.trade-rooms-outer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #15436d    ;
}


.trade-rooms-container {
    width: 92%;
    height: 95%;
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}


.create-room-button-container {
    display: flex;
    width: 100%;
}


.create-room-button {
    width: 14vw;
    height: 4vw;
    font-size: 1.3vw;
    background-color: black;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
}


.trade-room-container {
    margin: 3vw 0;
    width: 100%;
    height: 12vw;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 35% 50% 15%;
}

.trade-user-container {
    height: 100%;
    background-color: #282828;
}

.trade-user-container {
    background-color: #282828;
    display: flex;
    align-items: center;
}

.trade-user-inner-container {
    height: 90%;
    width: 100%;
    border-right: 1px solid white;
}


.trade-user-inner-container {
    height: 85%;
    width: 100%;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trade-user-info-container {
    height: 70%;
    width: 85%;
    display: flex;
}

.trade-user-image-container {
    margin-right: 1.5vw;
}

.trade-user-image {
    width: 7vw;
    height: 7vw;
}


.trade-user-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}



.exchange-container {
    background-color: #414141;
    display: flex;
    justify-content: center;
    align-items: center;
}


.exchange-inner-container {
    height: 6.8vw;
    display: grid;
    grid-template-columns: 17vw 5vw 17vw;
}


.exchange-nfts-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
}

.small-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exchange-arrows {
    display: flex;
    flex-direction: column;
}

.enter-container {
    background-color: #282828;
    display: flex;
    align-items: center;
}

.enter-inner-container {
    height: 85%;
    width: 100%;
    border-left: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.enter-content-container {
    height: 80%;
    width: 50%;
    cursor: pointer;
}

.full-chart-container {
    position: absolute;
    z-index:1500;
    width: 100%;
    height:160vw;
    top:0;
    left: 0;
}


.charton-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.66;
    width: 100%;
    height:100%;
    z-index: 10000;
    
}


.charton {
    position: fixed;
    top: 25%;
    left: 33%;
    width: 35vw;
    height:21vw;
    background-color: #181818;
    z-index: 20000;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inner-charton {
  width: 75%;
  height:80%;
  display: grid;
  grid-template-rows: 30% 40% 30% ;
  
}


.create-trade-room-title{
    font-family: Pixeled;
    font-size: 1.4vw;
}


.input-create-room-container {
    background-color:#382E28;
    display:flex;
    justify-content:center;   
    height:2.7vw;
    border-bottom: 1px solid white;
}

.input-create-room{
    background-color:#382E28 ;
    border: none;
    width:95%;
}

.input-create-room:focus {
    outline-width: 0;
}

.create-room-options-container-outer{
    width:100%;
    display: flex;
    justify-content: center;
    transform: translateY(1vw);
}

.create-room-options-container {
    width: 80%;
    height:2vw;
    display: flex;
    justify-content: space-between;
}


.option-button {
    width:7vw;
    height: 2.5vw;
    border:none;
    cursor:pointer;
}



.x-charton {
  font-family: Pixeled;
  font-size: 1.2vw;
}

