@font-face {
    font-family: Poppins;
    src: url(../../../../assets/fonts/Poppins-Regular.ttf);
  }

  * {
    color: white;
    font-family: Poppins;
  }




.trade-rooms-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.trade-rooms-container {
    width: 92%;
    height: 95%;
    display: flex;
    flex-direction: column;
}


.create-room-button-container {
    display: flex;
    width:100%;
}


.create-room-button {
    width: 14vw;
    height: 4vw;
    background-color: black;
    color:white;
    border:none;
}


.trade-room-container {
  margin:4vw 0;
  width: 100%;
  height:12vw;
  background-color: blueviolet;
  display:grid;
  grid-template-columns: 35% 50% 15%;
}

.trade-user-container {
    height:100%;
    background-color: #282828;
}

.trade-user-container {
    background-color: #282828;
    display: flex;
    align-items: center;
}

.trade-user-inner-container {
    height: 90%;
    width: 100%;
    border-right: 1px solid white ;
}


.trade-user-inner-container {
    height: 90%;
    width: 100%;
    border-right: 1px solid white ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trade-user-info-container {
    height: 70%;
    width: 85%;
    display: flex;
}

.trade-user-image-container {
    margin-right: 1.5vw;
}

.trade-user-image {
    width: 7vw;
    height:7vw;
}


.trade-user-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}



.exchange-container {
 background-color: #414141 ;
 display: flex;
 justify-content: center;
 align-items: center;
}


.exchange-inner-container{
    width:90%;
    height: 65%;
    display: grid;
    grid-template-columns: 42.5% 15% 42.5%;
}


.exchange-nfts-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows:auto auto ;
}


.exchange-arrows {
    display: flex;
    flex-direction: column;
}

.enter-container {
    background-color: #282828; 

   }