.tabs-inner-container-user {
    position: absolute;
    transform: translate(25vw, -14.1vw);
    display: flex;
    justify-content: start;
    align-items: end;
    width: 45vw;
    height: 5vw;
}


.user-body-container {
    width: 100%;
    height:120vw;
    background-color: #073662;  
}


.tabs-user-option{
    display: flex;
    justify-content: center;
    align-items: center;
    width:25%;
    cursor: pointer;
    height: 100%;
}


#movement-option-bar {
    background-color: white;
    width: 11.25vw;
    height:1px;
    position: absolute;
  }